body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    color: black;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

/* Photo */

.photo {
    width: 100%;
    height: 800px;

    background: url(../images/background.png) center no-repeat;
    background-size: cover;
}

/* Header */

.header {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100px;

    background-color: #183456;
}

.header-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;

    margin: auto 0;

    color: #fff;
}

/* Intro */

.intro {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 1250px;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 1030px;

    margin: auto 0;

    gap: 160px;
}

.intro-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    gap: 100px;

    margin: 0 auto;
}

.intro-title {
    font-size: 64px;

    margin: 0 auto;
}

.intro-subtitle {
    font-size: 40px;

    color: #626262;

    margin: 0 auto;
}

.intro-features {
    display: flex;

    width: 1750px;
    height: 565px;

    justify-content: space-between;
    margin: 0 auto;
}

.intro-features-box {
    display: flex;
    flex-direction: column;
    

    width: 460px;
    height: 450px;

    text-align: center;
}

.intro-features-photo {
    width: 350px;
    height: 350px;

    margin: 0 auto;
}

.intro-features-subtitle {
    font-size: 30px;

    padding-top: 60px;

    margin: 0 auto;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 750px;

    background-color: #183456;
}

.content-inner {
    font-size: 32px;

    width: 1260px;
    line-height: 150%;
    letter-spacing: 0.02em;

    text-align: center;
    margin: 0 auto;

    color: #fff;
}

/* Benefits */

.benefits {
    width: 100%;
    height: 1940px;
}

.benefits-content {
    display: flex;

    width: 100%;
    height: 50%;
}

.benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
}

.benefits-box-img {
    width: 50%;
}

.benefits-text {
    font-family: 'Alegreya', serif;
    font-size: 32px;

    width: 700px;

    margin: 0 auto;

    text-align: center;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 465px;

    background-color: #183456;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    width: 100%;
    height: 240px;

    margin: 0 auto;

    gap: 100px;
}

.footer-text {
    font-family: 'Alegreya', serif;
    font-size: 32px;

    width: 1470px;

    color: #fff;

    margin: 0 auto;
}

.footer-link {
    font-family: 'Alegreya', serif;
    font-size: 32px;

    width: 100%;

    text-decoration: none;

    color: #fff;
}

/* Media */

@media (max-width: 1320px) {

    /* Intro */

    .intro {
        height: 1000px;
    }

    .intro-inner {
        height: 1100px;
    }

    .intro-title {
        /* -8px */
        font-size: 56px;
    }

    .intro-subtitle {
        /* -8px */
        font-size: 32px;
    }

    .intro-features {
        width: 100%;
    }

    .intro-features-photo {
        width: 250px;
        height: 250px;
    }

    .intro-features-subtitle {
        /* -4px */
        font-size: 26px;

        width: 350px;
    }

    /* Content */

    .content-inner {
        /* -4px */
        font-size: 28px;

        width: 1000px;
    }

    /* Benefits */

    .benefits {
        height: 1320px;
    }

    .benefits-text {
        width: 500px;
    }

    /* Footer */

    .footer-text {
    
    width: 1200px;

    }
}

@media (max-width: 1270px) {

    /* Intro */

    .intro-title {
        /* -4px */
        font-size: 52px;
    }

    .intro-subtitle {
        /* -4px */
        font-size: 28px;
    }

    .intro-features-subtitle {
        /* -3px */
        font-size: 23px;
    }

    /* Content */

    .content {
        height: 550px;
    }

    .content-inner {
        /* -3px */
        font-size: 25px;
    }

    /* Benefits */

    .benefits {
        height: 1270px;
    }

    .benefits-text {
        /* -4px */
        font-size: 28px;
    }

    /* Footer */

    .footer-text {
        /* -5px */
        font-size: 27px;

        width: 1000px;
    }
}

@media (max-width: 1220px) {

    /* Intro */

    .intro-title {
        /* -4px */
        font-size: 48px;
    }

    .intro-subtitle {
        /* -4px */
        font-size: 24px;
    }

    .intro-features-subtitle {
        /* -3px */
        font-size: 20px;
    }

    /* Benefits */

    .benefits {
        height: 1220px;
    }

    .benefits-text {
        /* -4px */
        font-size: 24px;
    }
}

@media (max-width: 1170px) {

    /* Intro */

    .intro-heading {
        gap: 50px;
    }

    .intro-title {
        /* -4px */
        font-size: 44px;
    }

    .intro-features-subtitle {
        /* -2px */
        font-size: 22px;
    }

    /* Content */

    .content-inner {
        /* -3px */
        font-size: 22px;
    }

    /* Benefits */

    .benefits {
        height: 1170px;
    }

    /* Footer */

    .footer-link {
        font-size: 28px;
    }
}

@media (max-width: 1120px) {

    /* Intro */

    .intro-features-subtitle {
        width: 300px;
    }

    /* Benefits */

    .benefits {
        height: 1120px;
    }
}

@media (max-width: 1070px) {

    /* Content */

    .content-inner {
        width: 800px;
    }

    /* Benefits */

    .benefits {
        height: 1070px;
    }

    .benefits-text {
        width: 450px;
    }
}

@media (max-width: 1020px) {

    /* Intro */

    .intro-title {
        /* -4px */
        font-size: 40px;
    }

    .intro-subtitle {
        /* -2px */
        font-size: 22px;
    }

    /* Benefits */

    .benefits {
        height: 1020px;
    }

    /* Footer */

    .footer {
        height: 400px;
    }

    .footer-text {
        width: 750px;
    }
}

@media (max-width: 970px) {

    /* Benefits */

    .benefits {
        height: 970px;
    }

    .benefits-text {
        width: 400px;
    }

    /* Footer */

    .footer {
        height: 400px;
    }
}

@media (max-width: 920px) {

    /* Intro */

    .intro {
        height: 1800px;
    }

    .intro-inner {
        gap: 100px;
    }

    .intro-title {
        /* -4px */
        font-size: 36px;
    }

    .intro-features {
        flex-direction: column;

        height: 1350px;

        gap: 100px;
    }

    .intro-features-box {
        height: auto;
        margin: 0 auto;
    }

    .intro-features-subtitle {
        width: 350px;
    }

    /* Content */

    .content-inner {
        /* -2px */
        font-size: 20px;
    }

    /* Benefits */

    .benefits {
        height: 920px;
    }

    .benefits-text {
        /* -2px */
        font-size: 22px;
    }

    /* Footer */

    .footer-text {
        /* -4px */
        font-size: 24px;
    }
}

@media (max-width: 870px) {

    /* Header */

    .header-name {
        /* -4px */
        font-size: 26px;
    }

    /* Intro */

    .intro-title {
        /* -3px */
        font-size: 33px;
    }

    .intro-subtitle {
        /* -2px */
        font-size: 20px;
    }

    /* Content */

    .content-inner {
        width: 600px;
    }

    /* Benfits */

    .benefits {
        height: 870px;
    }

    .benefits-text {
        width: 350px;
    }

}

@media (max-width: 820px) {

    /* Photo */

    .photo {
        height: 600px;
    }

    /* Benfits */

    .benefits {
        height: 820px;
    }

}

@media (max-width: 770px) {


    /* Benfits */

    .benefits {
        height: 770px;
    }

    .benefits-text {
        /* -2px */
        font-size: 20px;
    }

    /* Footer */

    .footer-text {
        /* -2px */
        font-size: 22px;

        width: 600px;
    }

}

@media (max-width: 720px) {

    /* Intro */

    .intro-title {
        /* -2px */
        font-size: 31px;
    }

    .intro-subtitle {
        /* -1px */
        font-size: 19px;
    }

    /* Content */

    .content-inner {
        /* -2px */
        font-size: 18px;
    }

    /* Benfits */

    .benefits {
        height: 2880px;
    }

    .benefits-content {
        flex-direction: column;
    }

    .benefits-box {
        width: 100%;
        height: 50%;
    }

    .benefits-box-img {
        width: 100%;
        height: 50%;

        order: 1;
    }

    .benefits-text {
        /* +8px */
        font-size: 28px;

        width: 600px;
    }

    /* Footer */

    .footer {
        height: 350px;
    }
}

@media (max-width: 670px) {

    .intro-title {
        /* -2px */
        font-size: 29px;
    }

    /* Content */

    .content-inner {
        width: 500px;
    }

    /* Benefits */

    .benefits {
        height: 2680px;
    }
}

@media (max-width: 620px) {

    /* Photo */

    .photo {
        height: 400px;
    }

    /* Intro */

    .intro-title {
        /* -2px */
        font-size: 27px;
    }

    /* Content */

    .content {
        height: 400px;
    }

    .content-inner {
        /* -2px */
        font-size: 16px;
    }

    /* Benefits */

    .benefits {
        height: 2480px;
    }

    .benefits-text {
        width: 500px;
    }

    /* Footer */

    .footer-text {
        width: 500px;
    }
}

@media (max-width: 570px) {

    /* Header */

    .header {
        height: 70px;
    }

    /* Intro */

    .intro {
        height: 1700px;
    }

    .intro-title {
        /* -2px */
        font-size: 25px;
    }

    /* Benefits */

    .benefits {
        height: 2280px;
    }
}

@media (max-width: 520px) {

    /* Intro */

    .intro-title {
        /* +2px */
        font-size: 27px;

        width: 400px;
    }

    .intro-subtitle {
        /* -1px */
        font-size: 19px;

        width: 330px;
    }

    /* Content */

    .content-inner {
        width: 450px;
    }

    /* Benefits */

    .benefits {
        height: 2080px;
    }

    .benefits-text {
        /* -4px */
        font-size: 24px;

        width: 400px;
    }

    /* Footer */

    .footer-text {
        width: 450px;
    }

    .footer-link {
        /* -2px */
        font-size: 26px;
    }
}

@media (max-width: 470px) {

    /* Intro */

    .intro-heading {
        width: 100%;
    }

    .intro-title {
        width: 100%;
    }

    .intro-features-box {
        width: 100%;
    }

    /* Content */

    .content {
        height: 500px;
    }

    .content-inner {
        /* +2px */
        font-size: 18px;

        width: 400px;
    }

    /* Benefits */

    .benefits {
        height: 1880px;
    }

    /* Footer */

    .footer {
        height: 400px;
    }

    .footer-text {
        /* +2px */
        font-size: 24px;

        width: 400px;
    }
}

@media (max-width: 420px) {

    /* Intro */

    .intro {
        height: 1750px;
    }

    /* Content */

    .content {
        height: 600px;
    }

    .content-inner {
        width: 350px;
    }

    /* Benefits */

    .benefits {
        height: 1680px;
    }

    .benefits-text {
        width: 350px;
    }

    /* Footer */

    .footer {
        height: 450px;
    }

    .footer-text {
        width: 300px;
    }
}

@media (max-width: 370px) {

    /* Intro */

    .intro {
        height: 1750px;
    }

    .intro-title {
        width: 250px;
    }

    .intro-subtitle {
        width: 270px;
    }

    .intro-features-subtitle {
        /* -2px */
        font-size: 20px;

        width: 300px;
    }

    /* Content */

    .content {
        height: 650px;
    }

    .content-inner {

        width: 300px;
    }

    /* Benefits */

    .benefits {
        height: 1480px;
    }

}

@media (max-width: 320px) {

    /* Header */

    .header-name {
        /* -4px */
        font-size: 22px;
    }

    /* Intro */

    .intro-features-photo {
        width: 200px;
        height: 200px;
    }

    .intro-features-subtitle {
        /* -2px */
        font-size: 20px;

        width: 250px;
    }

    /* Content */

    .content {
        height: 800px;
    }

    .content-inner {
        width: 250px;
    }

    /* Benefits */

    .benefits {
        height: 1280px;
    }

    /* Footer */

    .footer {
        height: 500px;
    }

    .footer-text {
        width: 250px;
    }
}

@media (max-width: 280px) {

    /* Intro */

    .intro-features-photo {
        width: 200px;
        height: 200px;
    }

    .intro-features-subtitle {
        /* -2px */
        font-size: 20px;

        width: 250px;
    }

    /* Content */

    .content {
        height: 900px;
    }

    .content-inner {
        width: 225px;
    }

    /* Benefits */

    .benefits {
        height: 1280px;
    }

    .benefits-text {
        /* -2px */
        font-size: 22px;

        width: 275px;
    }

    /* Footer */

    .footer {
        height: 500px;
    }

    .footer-text {
        width: 250px;
    }
}






